main {
    flex: 1 0 auto; 
    display: flex;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-bottom: 20px;
}

aside {
    flex: 0 0 150px; /*do not grow or shrink. Stay fixed
    at 40px*/
}

.content {
    display: flex;
    flex: 1 1 auto; /*this makes sure the section grows to fill the entire available
    space and shrinks too*/
    flex-direction: column;
    padding-left: 10px;
    }

.quiz-body-container {
    display: flex;
    min-height: 700px;
}

.navbar-aside {
    width: 200px;
}

.question-content {
    width: fit-content;
    margin: 0 20px 0 20px;
    text-align: center;
}

.question-description {
    font-size: 20px;
    font-weight: bolder;
    color: #3f51b5;
}