.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.header-container {
    display: flex;    
    width: 100%;  
    margin-bottom: 25px;
}

.title-container {
    display: flex;
    width: 50%;
    align-items: flex-start;
    font-size: 20px;
    font-weight: bold;
    color: #3f51b5;
}

.counter-container { 
    display: flex;
    width: 50%;
    align-items: flex-end;
    flex-direction: column;
    font-size: 17px;
    font-weight: bold;
    color: #3f51b5;
}

.navigation-container {  
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
}

.header-navigation-item {
    width: 100%;
}
